.custom-navbar .navbar-nav .nav-slash {
  color: white;
  margin: 5px 30px;
  font-size: 20px;
}

html {
  background-color: #212529;
}

/*  scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
