html {
  background-color: #212529;
}

.nav-button {
  color: white !important;
}

.nav-button:hover {
  color: black !important;
}
/*  scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 3%;
  margin-inline: 30px;
  margin-inline-end: 40px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
