/*-------------------------------------- WEATHER SEARCH COMPONENT -------------------------------------------------- */
.video-search-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.search-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
}

.custom-search-bar {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  height: 75px;
  color: white;
}

.custom-search-bar::placeholder {
  color: white;
}

/*-------------------------------------- WEATHER DETAILS COMPONENT -------------------------------------------------- */
.weather-details {
  color: #fff;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.weather-details {
  background: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center;
  background-size: cover;
  padding: 120px 0;
}

.forecast-card img {
  width: 50px;
  height: auto;
}

.forecast-card .card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.custom-card,
.hover-zoom:hover .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.custom-card:hover {
  transform: scale(1.1);
  z-index: 10;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
