/*-------------------------------------- WEATHER SEARCH COMPONENT -------------------------------------------------- */
.video-search-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.search-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
}

.custom-search-bar {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  height: 75px;
  color: white;
}

.custom-search-bar::placeholder {
  color: white;
}

.details-link-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.details-link {
  text-decoration: none !important;
  color: #007bff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.details-link:hover {
  color: #0056b3;
}

/*-------------------------------------- WEATHER DETAILS COMPONENT -------------------------------------------------- */

.forecast-card img {
  width: 50px;
  height: auto;
}

.forecast-card .card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.custom-card,
.hover-zoom:hover .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.custom-card:hover {
  transform: scale(1.1);
  z-index: 10;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
