/*-------------------------------------- WEATHER SEARCH COMPONENT -------------------------------------------------- */
.video-search-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.search-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
}

.custom-search-bar {
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  color: white;
}

.custom-search-bar::placeholder {
  color: white;
}

/*-------------------------------------- WEATHER DETAILS COMPONENT -------------------------------------------------- */

.forecast-card img {
  width: 70px;
  height: auto;
}

.forecast-card .card-body {
  padding: 15px;
}

.custom-card,
.hover-zoom:hover .card {
  background-color: rgba(164, 164, 164, 0.5) !important;
}

/* contenuto scrollabile al centro */
.scrollable {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 7em;
  padding: 30px;
}

.scrollable-card {
  flex: 0 0 auto;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .scrollable {
    max-width: 300px;
  }
}
